In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from sklearn import datasets
from PIL import Image
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge #ordinary linear regression + w/ ridge regularization
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    263 non-null    int64
 1   Shape_Leng  263 non-null    float64
 2   the_geom    263 non-null    geometry
 3   Shape_Area  263 non-null    float64
 4   zone        263 non-null    object
 5   LocationID  263 non-null    int64
 6   borough     263 non-null    object
dtypes: float64(2), geometry(1), int64(2), object(2)
memory usage: 14.5+ KB

In [48]:
df1 = gpd.read_file("NYC Taxi Zones.geojson")

df1.head(2)

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,"MULTIPOLYGON (((-74.18445 40.69500, -74.18449 ..."
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ..."

In [46]:
import geopandas as gpd

In [47]:
df = gpd.read_file("NYC Taxi Zones.geojson")

df.head(2)

df["lon"] = df["geometry"].centroid.x
df["lat"] = df["geometry"].centroid.y
df

<ipython-input-47-da262ff1d4a7>:5: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df["lon"] = df["geometry"].centroid.x
<ipython-input-47-da262ff1d4a7>:6: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df["lat"] = df["geometry"].centroid.y

,shape_area,objectid,shape_leng,location_id,zone,borough,geometry,lon,lat
0,0.0007823067885,1,0.116357453189,1,Newark Airport,EWR,"MULTIPOLYGON (((-74.18445 40.69500, -74.18449 ...",-74.174000,40.691831
1,0.00486634037837,2,0.43346966679,2,Jamaica Bay,Queens,"MULTIPOLYGON (((-73.82338 40.63899, -73.82277 ...",-73.831299,40.616745
2,0.000314414156821,3,0.0843411059012,3,Allerton/Pelham Gardens,Bronx,"MULTIPOLYGON (((-73.84793 40.87134, -73.84725 ...",-73.847422,40.864474
3,0.000111871946192,4,0.0435665270921,4,Alphabet City,Manhattan,"MULTIPOLYGON (((-73.97177 40.72582, -73.97179 ...",-73.976968,40.723752
4,0.000497957489363,5,0.0921464898574,5,Arden Heights,Staten Island,"MULTIPOLYGON (((-74.17422 40.56257, -74.17349 ...",-74.188484,40.552659
...,...,...,...,...,...,...,...,...,...
258,0.000168611097013,256,0.0679149669603,256,Williamsburg (South Side),Brooklyn,"MULTIPOLYGON (((-73.95834 40.71331, -73.95681 ...",-73.959905,40.710880
259,0.000394552487366,259,0.126750305191,259,Woodlawn/Wakefield,Bronx,"MULTIPOLYGON (((-73.85107 40.91037, -73.85207 ...",-73.852215,40.897932
260,0.000422345326907,260,0.133514154636,260,Woodside,Queens,"MULTIPOLYGON (((-73.90175 40.76078, -73.90147 ...",-73.906306,40.744235
261,0.0000343423231652,261,0.0271204563616,261,World Trade Center,Manhattan,"MULTIPOLYGON (((-74.01333 40.70503, -74.01327 ...",-74.013023,40.709139
262,0.000122330270966,262,0.0490636231541,262,Yorkville East,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ...",-73.946510,40.775932

In [54]:
df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   shape_area   263 non-null    object
 1   objectid     263 non-null    object
 2   shape_leng   263 non-null    object
 3   location_id  263 non-null    object
 4   zone         263 non-null    object
 5   borough      263 non-null    object
 6   geometry     263 non-null    geometry
 7   lon          263 non-null    float64
 8   lat          263 non-null    float64
dtypes: float64(2), geometry(1), object(6)
memory usage: 18.6+ KB

In [55]:
df['location_id']= df['location_id'].astype('int')

In [70]:
df_loc= df.loc[:,'lon':'lat']

In [71]:
df_loc['PULocationID'] = df['location_id']

In [75]:
df_loc.tail(10)

     PULocation_lon  PULocation_lat  PULocationID
253      -73.848641       40.832102           250
254      -74.125348       40.616880           251
255      -73.815657       40.788193           252
256      -73.858948       40.882157           254
257      -73.957418       40.718804           255
258      -73.959905       40.710880           256
259      -73.852215       40.897932           259
260      -73.906306       40.744235           260
261      -74.013023       40.709139           261
262      -73.946510       40.775932           262

In [73]:
df_loc.rename(columns={'lon':'PULocation_lon',
    'lat':'PULocation_lat'}, inplace=True)
df_loc

     PULocation_lon  PULocation_lat  PULocationID
0        -74.174000       40.691831             1
1        -73.831299       40.616745             2
2        -73.847422       40.864474             3
3        -73.976968       40.723752             4
4        -74.188484       40.552659             5
..              ...             ...           ...
258      -73.959905       40.710880           256
259      -73.852215       40.897932           259
260      -73.906306       40.744235           260
261      -74.013023       40.709139           261
262      -73.946510       40.775932           262

[263 rows x 3 columns]

In [63]:
df_loc.to_csv('PULocation_lon_lat.cvs')

In [64]:
df_loc1= df.loc[:,'lon':'lat']

In [65]:
df_loc1

           lon        lat
0   -74.174000  40.691831
1   -73.831299  40.616745
2   -73.847422  40.864474
3   -73.976968  40.723752
4   -74.188484  40.552659
..         ...        ...
258 -73.959905  40.710880
259 -73.852215  40.897932
260 -73.906306  40.744235
261 -74.013023  40.709139
262 -73.946510  40.775932

[263 rows x 2 columns]

In [68]:
df_loc1['DOLocationID'] = df['location_id']

In [69]:
df_loc1.rename(columns={'lon':'DOLocationID_lon',
    'lat':'DOLocationID_lat'}, inplace=True)
df_loc1

     DOLocationID_lon  DOLocationID_lat  DOLocationID
0          -74.174000         40.691831             1
1          -73.831299         40.616745             2
2          -73.847422         40.864474             3
3          -73.976968         40.723752             4
4          -74.188484         40.552659             5
..                ...               ...           ...
258        -73.959905         40.710880           256
259        -73.852215         40.897932           259
260        -73.906306         40.744235           260
261        -74.013023         40.709139           261
262        -73.946510         40.775932           262

[263 rows x 3 columns]

In [74]:
df_loc1.to_csv('DOLocationID_lon_lat.cvs')

In [31]:
from shapely import wktimport geopandas as gpd

df = gpd.read_file("https://france-geojson.gregoiredavid.fr/repo/departements.geojson")

df.head(2)

df["lon"] = df["geometry"].centroid.x
df["lat"] = df["geometry"].centroid.y
df

In [33]:
wkt_string = wkt.dumps(df['the_geom'][0])
print(wkt_string)

MULTIPOLYGON (((-74.1844529999999622 40.6949959999999038, -74.1844889999999850 40.6950949999998670, -74.1844979999999623 40.6951849999998672, -74.1843809999999735 40.6958779999998868, -74.1842819999999392 40.6962109999998987, -74.1840209999999729 40.6970749999998844, -74.1839129999999614 40.6975069999998595, -74.1837509999999725 40.6977949999998785, -74.1836339999999836 40.6983259999999021, -74.1835619999999381 40.6984519999998753, -74.1835439999999835 40.6985599999998797, -74.1835079999999607 40.6987039999999212, -74.1832739999999831 40.7000899999998822, -74.1831569999999374 40.7012149999998840, -74.1831659999999715 40.7023849999998859, -74.1831389999999828 40.7026279999998977, -74.1830939999999828 40.7028529999998980, -74.1829949999999485 40.7031589999998502, -74.1828419999999369 40.7034649999998877, -74.1826439999999820 40.7037349999998810, -74.1824279999999590 40.7039509999999183, -74.1822029999999586 40.7041399999998958, -74.1820319999999356 40.7042569999998705, -74.1818069999999352 40.7043919999998991, -74.1815729999999576 40.7044999999998822, -74.1813209999999685 40.7046079999999080, -74.1808079999999563 40.7047879999999012, -74.1794670000000025 40.7053459999999205, -74.1788729999999532 40.7055439999998683, -74.1783149999999409 40.7057239999998686, -74.1777659999999628 40.7058949999998774, -74.1770909999999617 40.7060929999998962, -74.1769919999999843 40.7061379999998820, -74.1768929999999500 40.7061919999998807, -74.1766499999999382 40.7064169999998811, -74.1764249999999379 40.7066959999999156, -74.1762899999999377 40.7068939999998776, -74.1760829999999487 40.7071099999998935, -74.1759929999999486 40.7071909999999093, -74.1758939999999711 40.7072629999999052, -74.1756599999999366 40.7073799999998798, -74.1753809999999589 40.7074699999999154, -74.1751559999999586 40.7075149999998942, -74.1747599999999352 40.7075959999999242, -74.1741749999999342 40.7076679999999129, -74.1738869999999793 40.7077309999999173, -74.1734729999999445 40.7077489999998647, -74.1727529999999433 40.7078029999999060, -74.1718889999999647 40.7079109999998536, -74.1716369999999756 40.7079559999998608, -74.1713399999999865 40.7079649999998949, -74.1712049999999863 40.7079559999998608, -74.1699449999999842 40.7079739999998864, -74.1688829999999371 40.7079379999998991, -74.1668129999999337 40.7078569999998905, -74.1644279999999867 40.7077939999998719, -74.1640139999999519 40.7077759999999174, -74.1623399999999720 40.7077219999998761, -74.1608189999999468 40.7076409999999100, -74.1605759999999350 40.7076049999998801, -74.1603329999999801 40.7075689999998716, -74.1600629999999938 40.7074879999998984, -74.1593879999999785 40.7072629999999052, -74.1590459999999894 40.7071459999999163, -74.1589199999999664 40.7071099999998935, -74.1582719999999540 40.7068759999999301, -74.1545909999999822 40.7056519999998940, -74.1540959999999814 40.7054449999998909, -74.1540149999999727 40.7053819999998794, -74.1538799999999583 40.7053279999998949, -74.1537629999999695 40.7054089999998752, -74.1532319999999459 40.7052469999998721, -74.1531779999999685 40.7053189999998892, -74.1530699999999570 40.7052829999999020, -74.1535919999999464 40.7043739999998735, -74.1538619999999469 40.7038429999998996, -74.1551399999999603 40.7015569999998732, -74.1554459999999835 40.7010889999998824, -74.1557519999999499 40.7006659999998988, -74.1560039999999390 40.7002609999999123, -74.1563549999999623 40.6997569999998632, -74.1574529999999754 40.6980919999998818, -74.1575429999999756 40.6979389999998986, -74.1575879999999756 40.6978129999998828, -74.1576239999999416 40.6976779999999110, -74.1582989999999427 40.6967059999998853, -74.1595139999999446 40.6948879999998780, -74.1595859999999334 40.6947619999998409, -74.1601439999999457 40.6941049999998796, -74.1605759999999350 40.6932229999998754, -74.1626279999999838 40.6902889999998933, -74.1627989999999500 40.6900279999998915, -74.1629069999999615 40.6898749999998728, -74.1629249999999729 40.6898749999998657, -74.1629519999999616 40.6898749999998657, -74.1630689999999504 40.6898929999998771, -74.1630959999999391 40.6899289999998857, -74.1632219999999620 40.6899829999998914, -74.1633119999999622 40.6899919999999327, -74.1634109999999396 40.6900009999998815, -74.1635279999999852 40.6900099999998588, -74.1638069999999630 40.6900459999998887, -74.1641039999999521 40.6900819999999044, -74.1641759999999408 40.6900819999999044, -74.1642299999999750 40.6900549999998802, -74.1643649999999752 40.6900369999999114, -74.1645089999999527 40.6899829999998630, -74.1646709999999416 40.6898839999998927, -74.1647969999999646 40.6897579999998840, -74.1649139999999534 40.6895869999999036, -74.1649949999999762 40.6893889999998848, -74.1652829999999881 40.6889119999999096, -74.1654269999999656 40.6887589999998980, -74.1654809999999429 40.6886329999998679, -74.1656069999999659 40.6884259999998790, -74.1657689999999548 40.6880299999998627, -74.1658769999999663 40.6878769999999079, -74.1658319999999662 40.6875799999998691, -74.1658229999999890 40.6874899999998689, -74.1658049999999776 40.6871569999999139, -74.1658229999999890 40.6870399999998611, -74.1658949999999777 40.6868419999998991, -74.1660479999999893 40.6865539999998802, -74.1663989999999558 40.6860229999998637, -74.1665069999999673 40.6858879999998635, -74.1667409999999450 40.6854919999999254, -74.1669569999999680 40.6852309999998809, -74.1673889999999574 40.6845469999999239, -74.1678119999999694 40.6839439999998973, -74.1679109999999469 40.6837909999998786, -74.1680459999999471 40.6836019999999081, -74.1681629999999359 40.6834759999998852, -74.1682259999999474 40.6833499999999120, -74.1684869999999705 40.6829989999999100, -74.1688649999999825 40.6823959999998692, -74.1691619999999716 40.6819999999999098, -74.1692969999999718 40.6817839999998867, -74.1694769999999721 40.6815589999999077, -74.1698189999999613 40.6810189999998855, -74.1699539999999615 40.6808749999999151, -74.1700529999999389 40.6806679999998693, -74.1704129999999395 40.6801549999998997, -74.1705119999999738 40.6799929999998682, -74.1706739999999627 40.6796509999998861, -74.1709349999999858 40.6792909999998642, -74.1714479999999412 40.6784719999998927, -74.1715199999999868 40.6783819999998855, -74.1716099999999869 40.6782559999998838, -74.1719339999999647 40.6778239999998803, -74.1720059999999535 40.6777339999998802, -74.1728339999999662 40.6765639999998783, -74.1731489999999667 40.6761949999999075, -74.1732299999999896 40.6760779999998974, -74.1732929999999442 40.6760149999998930, -74.1735899999999333 40.6757179999999110, -74.1742379999999457 40.6749349999999126, -74.1743729999999459 40.6748179999998953, -74.1748499999999353 40.6743229999999230, -74.1750029999999470 40.6741699999998971, -74.1753899999999504 40.6737559999998695, -74.1760469999999827 40.6730449999998953, -74.1763079999999491 40.6727659999998608, -74.1764159999999606 40.6726219999998762, -74.1766319999999837 40.6723969999998900, -74.1767849999999385 40.6721809999999095, -74.1769739999999729 40.6719379999998978, -74.1770909999999617 40.6717849999998862, -74.1773429999999507 40.6715599999998787, -74.1775499999999397 40.6714249999998927, -74.1777839999999742 40.6713169999998740, -74.1780269999999859 40.6712089999998838, -74.1786299999999414 40.6710379999998963, -74.1788819999999873 40.6710019999998948, -74.1791249999999422 40.6709929999999105, -74.1793319999999881 40.6710109999999219, -74.1797909999999661 40.6711549999998923, -74.1799799999999436 40.6712089999998838, -74.1801059999999666 40.6712629999999038, -74.1803039999999783 40.6712989999998626, -74.1813389999999799 40.6717039999998633, -74.1821399999999613 40.6720279999998908, -74.1838499999999499 40.6726489999998861, -74.1843719999999394 40.6729099999998880, -74.1845879999999624 40.6730269999998768, -74.1849209999999744 40.6732699999998957, -74.1850379999999632 40.6733599999998887, -74.1851369999999406 40.6734589999998661, -74.1854789999999866 40.6739089999998669, -74.1859469999999419 40.6746649999999050, -74.1867029999999659 40.6757899999999211, -74.1873329999999669 40.6767439999998714, -74.1876749999999561 40.6772929999999135, -74.1879539999999480 40.6776169999998913, -74.1881969999999455 40.6779229999999217, -74.1885209999999802 40.6784809999998700, -74.1887729999999692 40.6788589999998891, -74.1890519999999469 40.6793359999998501, -74.1893579999999702 40.6797589999998834, -74.1894929999999704 40.6800919999998953, -74.1896999999999593 40.6807939999998851, -74.1897719999999481 40.6811359999998672, -74.1897809999999964 40.6811989999998858, -74.1898349999999596 40.6813159999998675, -74.1899159999999824 40.6815409999998820, -74.1899699999999598 40.6818019999998981, -74.1899969999999485 40.6822519999998988, -74.1899969999999485 40.6826299999999179, -74.1899699999999598 40.6829539999998886, -74.1899879999999712 40.6831789999998890, -74.1899519999999484 40.6835209999998852, -74.1899339999999370 40.6837099999999197, -74.1898709999999966 40.6840789999998762, -74.1897809999999964 40.6848169999999101, -74.1897629999999708 40.6850329999998621, -74.1896279999999706 40.6861039999999150, -74.1895559999999819 40.6868959999998694, -74.1895199999999591 40.6872019999998997, -74.1894749999999590 40.6874899999998476, -74.1893939999999361 40.6877329999998807, -74.1893939999999361 40.6878319999999079, -74.1894119999999475 40.6879399999998554, -74.1894029999999702 40.6880929999998671, -74.1893489999999360 40.6882639999998901, -74.1892229999999699 40.6886239999998907, -74.1889889999999355 40.6890469999999098, -74.1887009999999805 40.6894429999998763, -74.1877919999999449 40.6901899999998662, -74.1872339999999895 40.6905949999998597, -74.1863699999999540 40.6911889999999090, -74.1859109999999760 40.6914499999998824, -74.1856319999999414 40.6916479999998728, -74.1844529999999622 40.6949959999999038)))

In [35]:
df['lon'] = df['the_geom'].x
df['lat'] = df['the_geom'].y

AttributeError: 'Series' object has no attribute 'x'

In [36]:
df['lon'] = df.the_geom.apply(lambda p: p.x)
df['lat'] = df.the_geom.apply(lambda p: p.y)

AttributeError: 'MultiPolygon' object has no attribute 'x'

In [14]:
#df.iloc[0,2]

In [78]:
df10 = pd.read_csv('yellow_tripdata_2016-01.csv')

In [79]:
df10.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
10906853,2,2016-01-31 23:30:32,2016-01-31 23:38:18,1,2.2,-74.003578,40.751011,1,N,-73.982651,40.767509,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
10906854,1,2016-01-05 00:15:55,2016-01-05 00:16:06,1,0.0,-73.945488,40.751530,1,N,-73.945457,40.751530,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80
10906855,1,2016-01-05 06:12:46,2016-03-19 20:45:50,3,1.4,-73.994240,40.766586,1,N,-73.984428,40.753922,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
10906856,1,2016-01-05 06:21:44,2016-03-28 12:54:26,1,2.1,-73.948067,40.776531,1,N,-73.978188,40.777435,1,11.5,0.0,0.5,2.45,0.00,0.3,14.75
10906857,1,2016-01-05 06:15:21,2016-01-05 06:15:36,3,0.0,-73.960938,40.758595,2,N,-73.961006,40.758583,2,52.0,0.0,0.5,0.00,5.54,0.3,58.34

In [19]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('taxi_zones.dbf')

#df = pd.read_sql_query("SELECT * FROM table_name", cnx)

In [20]:
cnx

In [22]:
pip install simpledbf

Collecting simpledbf
  Downloading simpledbf-0.2.6.tar.gz (17 kB)
Building wheels for collected packages: simpledbf
  Building wheel for simpledbf (setup.py) ... done
  Created wheel for simpledbf: filename=simpledbf-0.2.6-py3-none-any.whl size=13792 sha256=af8523a2d6aebf95a54f1aadf2bbb2e3b51cbda0fa5ae40c53d1b5b57a7eea79
  Stored in directory: /Users/maithaalqahtani/Library/Caches/pip/wheels/7c/4a/85/8d25e6dc4d2968a93a5459ed0153fd6f67041cfece137ca9ce
Successfully built simpledbf
Installing collected packages: simpledbf
Successfully installed simpledbf-0.2.6
Note: you may need to restart the kernel to use updated packages.

In [23]:
 import pandas as pd
from simpledbf import Dbf5
dbf = Dbf5('taxi_zones.dbf')
df = dbf.to_dataframe()

In [24]:
df

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,1,0.116357,0.000782,Newark Airport,1,EWR
1,2,0.433470,0.004866,Jamaica Bay,2,Queens
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx
3,4,0.043567,0.000112,Alphabet City,4,Manhattan
4,5,0.092146,0.000498,Arden Heights,5,Staten Island
...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx
259,260,0.133514,0.000422,Woodside,260,Queens
260,261,0.027120,0.000034,World Trade Center,261,Manhattan
261,262,0.049064,0.000122,Yorkville East,262,Manhattan
262,263,0.037017,0.000066,Yorkville West,263,Manhattan

In [30]:
df['-']= df['Shape_Leng'] - df['Shape_Area']
df

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,-
0,1,0.116357,0.000782,Newark Airport,1,EWR,0.115575
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,0.428603
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,0.084027
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,0.043455
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,0.091649
...,...,...,...,...,...,...,...
258,259,0.126750,0.000395,Woodlawn/Wakefield,259,Bronx,0.126356
259,260,0.133514,0.000422,Woodside,260,Queens,0.133092
260,261,0.027120,0.000034,World Trade Center,261,Manhattan,0.027086
261,262,0.049064,0.000122,Yorkville East,262,Manhattan,0.048941
262,263,0.037017,0.000066,Yorkville West,263,Manhattan,0.036951

In [28]:
pip install --upgrade fiona

Collecting fiona
  Downloading Fiona-1.8.20-cp38-cp38-macosx_10_9_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 4.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.7 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona) (1.15.0)
Requirement already satisfied: setuptools in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona) (52.0.0.post20210125)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=17 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona) (20.3.0)
Requirement already satisfied: certifi in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona) (2020.12.5)
Requirement already satisfied: click>=4.0 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: munch, cligj, click-plugins, fiona
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 munch-2.5.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
def takewhile(predicate, iterable):
    # takewhile(lambda x: x<5, [1,4,6,4,1]) --> 1 4
    for x in iterable:
        if predicate(x):
            yield x
        else:
            break

In [21]:
def get_long_lat(s):
    it = iter(s[10:])  # Get the iterable of the string, not including the first 10 characters.
    long = ''.join(takewhile(lambda c: c.isnumeric() or c == '.', it))  # Take from the iterable as lomg as it's a part of a number. This we also take the next character after the number but won't include it in the output.
    lat = ''.join(takewhile(lambda c: c.isnumeric() or c == '.', it))  # Do it again.
    return long, lat

In [14]:
get_long_lat('POLYGON ((13.4611920000000005 52.4709870000000009, 13.4610299999999992 52.4706600000000023, 13.4611959999999993 52.4706290000000024, 13.4612090000000002 52.4706550000000007, 13.4613589999999999 52.4709560000000010, 13.4611920000000005 52.4709870000000009))')
('13.4611920000000005', '52.4709870000000009')  # Note that those are strings, not floats.

('13.4611920000000005', '52.4709870000000009')

In [25]:
df[['long.', 'lat.']] = pd.DataFrame(df['the_geom'].apply(get_long_lat).tolist())

df

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough,long.,lat.
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR,,
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens,,
2,3,0.084341,MULTIPOLYGON (((-73.84792614099985 40.87134223...,0.000314,Allerton/Pelham Gardens,3,Bronx,,
3,4,0.043567,MULTIPOLYGON (((-73.97177410965318 40.72582128...,0.000112,Alphabet City,4,Manhattan,,
4,5,0.092146,MULTIPOLYGON (((-74.17421738099989 40.56256808...,0.000498,Arden Heights,5,Staten Island,,
...,...,...,...,...,...,...,...,...,...
258,256,0.067915,MULTIPOLYGON (((-73.95834207500002 40.71330630...,0.000169,Williamsburg (South Side),256,Brooklyn,,
259,259,0.126750,MULTIPOLYGON (((-73.85107116191898 40.91037152...,0.000395,Woodlawn/Wakefield,259,Bronx,,
260,260,0.133514,MULTIPOLYGON (((-73.90175373399988 40.76077547...,0.000422,Woodside,260,Queens,,
261,261,0.027120,MULTIPOLYGON (((-74.01332610899988 40.70503078...,0.000034,World Trade Center,261,Manhattan,,
262,262,0.049064,MULTIPOLYGON (((-73.94383256699986 40.78285908...,0.000122,Yorkville East,262,Manhattan,,

In [28]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 609 kB/s eta 0:00:01
Requirement already satisfied: fiona>=1.8 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.20)
Collecting shapely>=1.6
  Downloading Shapely-1.8.0-cp38-cp38-macosx_10_9_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 1.4 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25.0 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.2.4)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.3.0-cp38-cp38-macosx_10_9_x86_64.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 1.9 MB/s eta 0:00:01     |█████████▊                      | 2.3 MB 1.7 MB/s eta 0:00:04
Requirement already satisfied: six>=1.7 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (52.0.0.post20210125)
Requirement already satisfied: cligj>=0.5 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: click>=4.0 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/maithaalqahtani/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.20.1)
Installing collected packages: shapely, pyproj, geopandas
Successfully installed geopandas-0.10.2 pyproj-3.3.0 shapely-1.8.0
Note: you may need to restart the kernel to use updated packages.

In [29]:
import os
import geopandas
data = os.path.join(os.getcwd(), 'data', 'taxi_zones.shp')
gdf = geopandas.read_file(data)

import cartopy.crs as ccrs
gdf_proj = gdf.to_crs(ccrs.AlbersEqualArea().proj4_init)
gdf_proj.plot()

import alphashape
alpha_shape = alphashape.alphashape(gdf_proj)
alpha_shape.plot()

import matplotlib.pyplot as plt
ax = plt.axes(projection=ccrs.PlateCarree())
ax.scatter([p.x for p in gdf_proj['geometry']],
           [p.y for p in gdf_proj['geometry']],
           transform=ccrs.AlbersEqualArea())
ax.add_geometries(
    alpha_shape['geometry'],
    crs=ccrs.AlbersEqualArea(), alpha=.2)
plt.show()

DriverError: /Users/maithaalqahtani/Desktop/project2/data/taxi_zones.shp: No such file or directory